:root {
    --border-line-color: rgba(226, 185, 0, 0.822);
    --red-font: rgb(184, 0, 0);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr;
}

body {
    border: solid 1px;
    margin: .5em;
    border-bottom: solid 3px;
    border-right: solid 2px;
    padding: .2em;
    display: grid;
    grid-template-columns: 1fr;
    min-width: 530px;
    max-width: 1400px;
    width: stretch;
    justify-self: center;
}

h1 {
    justify-self: center;
    padding: 15px;
}

nav {
    border-top: solid var(--border-line-color);
    border-bottom: solid var(--border-line-color);
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav li {
    padding-right: 40px;
}

nav a {
    text-decoration: none;
    color: var(--red-font);
}

.emptySection {
    border-bottom: solid var(--border-line-color);
    color: white;
    margin-bottom: 5px;
}

main {
    margin: 40px;
}

#italic {
    font-style: italic;
}

.details {
    text-align: end;
    margin-top: 35px;
    margin-bottom: 20px;
}

.details p {
    padding: 6px;
}

.bookDescription {
    display: grid;
    justify-items: center;
    gap: 15px;
    margin-right: 75px;
    width: 350px;
}

.bookDescription h2 {
    color: var(--red-font);
}

.bookDescription img {
    max-width: 150px;
}

footer {
    border-top: solid var(--border-line-color);
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 980px /*530px*/ ) {
    body {
        justify-self: auto;
        margin-left: 0;
    }

    .details {
        border-top: solid black 2px;
    }
}

@media screen and (min-width: 980px /*800px*/) {
    body {
        min-width: 890px;
    }

    div {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 80px;
    }

    .details {
        margin-top: 0;
        border-right: solid var(--border-line-color);
        margin-right: 20px;
        padding-right: 20px;
    }

    .bookDescription {
        width: 550px;
    }

    .bookDescription h2 {
        justify-self: left;
    }

    .bookDescription img {
        max-width: 220px;
    }

    .details {
        margin-top: -10px;
        margin-bottom: -10px;
    }
}